body {
  background: linear-gradient(
    #1f2937 0%,
    #1f2937 25%,
    white 25%,
    white 55%,
    #e5e7eb 55%,
    #e5e7eb 77%,
    white 77%,
    white 95%,
    #1f2937 95%,
    #1f2937 100%
  );
  height: 300vh;
}
.text {
  display: flex;
  align-items: flex-start;
  padding-left: 9rem;
  font-size: 24px;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.text2 {
  display: flex;
  margin-left: 57rem;
  font-size: 18px;
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 div {
  margin-right: 1rem;
}
.huge {
  margin-top: 6rem;
  display: flex;
  align-items: flex-start;
  margin-left: 9rem;
  margin-bottom: 1rem;
  font-size: 48px;
  color: #f9faf8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.small {
  display: flex;
  align-items: flex-start;
  margin-left: 9rem;
  margin-bottom: 1rem;
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 9rem;
  font-size: 24px;
  color: #f9faf8;
  background-color: #3882f6;
  height: 45px;
  width: 150px;
  border-radius: 5px;
  justify-content: center;
}
.grey.sheet {
  margin-left: 45rem;
  margin-top: -30rem;
  background-color: grey;
  width: 610px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}
.info {
  font-size: 36px;
  margin-left: 31rem;
  padding-top: 12rem;
  color: #1f2937;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.titles1,
.titles2,
.titles3,
.titles4 {
  margin-left: 6rem;
  font-size: 18px;
  text-align: center;
  display: flex;
  font-size: 18px;
}
.container2 {
  display: flex;
  justify-content: center;
  margin-right: 9rem;
  margin-top: 1rem;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20rem;
}

.tiles1,
.tiles2,
.tiles3,
.tiles4 {
  border-width: 3.5px;
  border-style: solid;
  border-color: #3882f6;
  width: 180px;
  height: 180px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-right: 3rem;
  margin-left: 2px;
}
.thor {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  margin-left: 18rem;
  margin-top: 25rem;

  font-family: Arial;
}
.thor1 {
  font-style: italic;
  font-family: Arial;
  font-weight: 700;
  margin-left: 50rem;
  font-size: 29px;
}
.blue {
  margin-top: 15rem;
  margin-left: 8rem;
  background-color: #3882f6;
  width: 1100px;
  height: 180px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calls {
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16rem;
  margin-top: -8rem;
  font-weight: 700;
}
.signup {
  font-size: 18px;
  color: white;
  margin-left: 16rem;
}
.logo1 {
  font-size: 20px;
  color: white;
  margin-left: 62.5rem;
  margin-top: -2rem;
  font-weight: 500;
}
.pic1 {
  margin-left: 60rem;
  margin-top: -2rem;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  width: 135px;
  height: 37px;
  border-radius: 5px;
}
